<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Hapvida.Core" value="https://pkgs.dev.azure.com/hapvidalabs/_packaging/Hapvida.Core/nuget/v3/index.json" />
	  <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Hapvida.Core>
        <add key="Username" value="c_jean.silva@hapvida.com.br" />
        <add key="ClearTextPassword" value="ttojkvo6pm3mg5iwavzdacc3jqex6olgaxdhdlrqwicpdc2a3kua" />
    </Hapvida.Core>
</packageSourceCredentials>
</configuration>